<div ng-app class="jumbotron" ng-controller="MainCtrl">
    <h1>Find Charging Stations Near {{current.fuel_stations[0].city}}</h1>
    <p class="lead">
        <div ng-init="location=' City or ZIP'">
            <form>
                <p>
                    <label for="location">Location: 
                        <input type="text" name="location" ng-model="location">
                    </label>
                </p>
                <p>
                    <button class="btn btn-lg btn-primary" ng-click="refreshCurrent()" type="submit">Find a Charging Station</button>
                </p>
            </form>
            <br>
            <div ng-hide="current.total_results == null">
                <dt>Total Stations (within 5 mi.):</dt>
                <dd>{{current.total_results}}</dd>
                <br>
            </div>
            <br>
            <dl ng-repeat="station in current.fuel_stations">
                <div class="stationName" ng-hide="station.station_name === null">
                    <dd>{{station.station_name}}</dd>
                    <br>
                </div>
                <div ng-hide="station.street_address === null">
                    <dt>Address</dt>
                    <dd>{{station.street_address}}</dd>
                    <dd>{{station.city}}, {{station.state}} {{station.zip}} {{station.plus4}}</dd>
                    <br>
                </div>
                <div ng-hide="station.intersection_directions === null">
                    <dd>{{station.intersection_directions}}</dd>
                    <br>
                </div>
                <div ng-hide="station.station_phone === null">
                    <dt>Phone Number</dt>
                    <dd>{{station.station_phone}}</dd>
                    <br>
                </div>
                <div ng-hide="station.access_days_time === null">
                    <dt>Hours</dt>
                    <dd>{{station.access_days_time}}</dd>
                    <br>
                </div>
                <div ng-hide="station.groups_with_access_code === null">
                    <dt>Availability <small>(Public/Private)</small></dt>
                    <dd>{{station.groups_with_access_code}}</dd>
                    <br>
                </div>
                <div ng-hide="station.ev_network === null">
                    <dt>Network</dt>
                    <dd><a ng-href="{{station.ev_network_web}}">{{station.ev_network}}</a></dd>
                    <br>
                </div>
                <div ng-hide="station.ev_connector_types === null">
                    <dt>Connector Type</dt>
                    <dd>{{station.ev_connector_types[0]}}</dd>
                    <dd>{{station.ev_connector_types[1]}}</dd>
                    <dd>{{station.ev_connector_types[2]}}</dd>
                    <dd>{{station.ev_connector_types[3]}}</dd>
                    <dd>{{station.ev_connector_types[4]}}</dd>
                    <dd>{{station.ev_connector_types[5]}}</dd>
                    <dd>{{station.ev_connector_types[6]}}</dd>
                    <br>
                </div>
                <br>
            </dl>
        </div>
        <div>
            <p>
                <button id="AlertBtn" class="btn btn-sm btn-primary" ng-hide="current.fuel_stations[0].city == null" ng-click="saveCity(current.fuel_stations[0].city)">Save {{current.fuel_stations[0].city}}</button>
            </p>
        </div>
        <!-- !!!!! TODO: Update so 'City Saved'/'City Already Saved' refreshes for each new city search. !!!!!-->
        <div ng-messages="citySaved">
            <p class="city-saved-alert bg-success text-success" ng-message="success">
                {{current.fuel_stations[0].city}} has been saved to your list of cities.
            </p>
            <p class="city-saved-alert bg-warning text-warning" ng-message="duplicate">
                {{current.fuel_stations[0].city}} has already been saved to your list of cities.
            </p>
        </div>

</div>

<div ng-if="storage.savedCities" class="saved-cities-list">
    <h2>Saved Cities</h2>
    <ul class="saved-cities-list">
        <li ng-repeat="city in storage.savedCities">
            <a ng-href="/charging-stations/#/{{city.city}}" id="savedBtn">{{city.city}}</a>
        </li>
    </ul>
</div>
<br>

<!--

<div ng-app="myApp" ng-strict-di class="map-container">
  <script>
  var app = angular.module('myApp', ['ngMap']);

  app.controller('mapController', function($http, $timeout, StreetView, NgMap) {
    var vm = this;
    vm.stores = [];
    NgMap.getMap().then(function(evtMap) {
      map = evtMap;
      vm.map = map;
      console.log('loading json data');
      $http.get('scripts/stations.json').then(function(resp) {
        console.log('stores', stores);
        var stores = resp.data;
        for (var i=0; i<stores.length; i++) {
          var store = stores[i];
          store.position = new google.maps.LatLng(store.latitude,store.longitude);
          store.title = store.name;
          var marker = new google.maps.Marker(store);
          vm.stores.push(marker);
        }
        console.log('finished loading json data', 'vm.stores', vm.stores.length);
        vm.markerClusterer = new MarkerClusterer(map, vm.stores, {});
      }, function(err) { console.log('err', err)});
    });
  });

  app.directive('fullScreenToggle', function($timeout) {
    return {
      controller: 'mapController',
      link: function(scope, e, a, ctrl) {
        var fullScreenClick = function() {
          e.parent().toggleClass('full-screen');
          e.text( e.parent().hasClass('full-screen') ? 'Exit Full Screen' : 'Full Screen' );
          google.maps.event.trigger(scope.map, 'resize');
        };
        e.on('click', fullScreenClick);
        $timeout(function() {
          fullScreenClick();
        }, 1000);
      }
    }
  });

  </script>
  <style>
    div#map-container {width: 600px; height: 400px; position: relative; color: rgb(86, 86, 86); font-family: Roboto, Arial, sans-serif; -webkit-user-select: none; font-size: 11px; }
    div#map-container div.custom-control { z-index: 1; direction: ltr; overflow: hidden; text-align: center; padding: 1px 6px; border-bottom-right-radius: 2px; border-top-right-radius: 2px; -webkit-background-clip: padding-box; border-width: 1px 1px 1px 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-top-color: rgba(0, 0, 0, 0.14902); border-right-color: rgba(0, 0, 0, 0.14902); border-bottom-color: rgba(0, 0, 0, 0.14902); -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; min-width: 41px; background-color: rgb(255, 255, 255); background-clip: padding-box; }

    div#map-container.full-screen {position:absolute; display:block; width:100%; height:100%; top: 0; left: 0}
    div#map-container div[full-screen-toggle] { cursor: pointer; position: absolute; top: 5px; right: 100px; }
    ng-map {display:block; width:100%; height:100%;}
  </style>

-->

  <h1>Map container</h1>
  <hr />

  <div id="map-container" ng-controller="mapController as vm">
    <ng-map default-style="false" zoom="2" center="[45.518970, -122.672899]">
    </ng-map>
    <div full-screen-toggle class="custom-control">Full Screen</div>
  </div>
</div>

<!--    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7nRKQKvGGlKpk0bMyevwC3O1HfVslUEo&libraries=geometry,places,drawing">
    </script>



<!--    <div id="map-canvas" style="height: 600px; width: 600px;"></div>

    <script>
      var positionToStationLatlng = function(position) {
        return position.coords.latitude + ',' + position.coords.longitude;
      };
      var positionToGoogleLatLng = function(position) {
        return new google.maps.LatLng(
          position.coords.latitude,
          position.coords.longitude
        );
      };
      var storeToGoogleLatLng = function(store) {
        return new google.maps.LatLng(
          store.store.coordinates.latitude,
          store.store.coordinates.longitude
        );
      };
      var drawStoresMap = function(position, storesData) {
        var map = new google.maps.Map(document.getElementById('map-canvas'), {
          center: positionToGoogleLatLng(position),
          zoom: 12
        });
        for (var i = 0; i < stationData.stations.length; i++) {
          drawMarker(map, stationData.stations[i]);
        }
      };
      var drawMarker = function(map, store) {
        var marker = new google.maps.Marker({
          map: map,
          position: stationToGoogleLatLng(store),
          title: station.station.name
        });
      };
      $(document).ready(function() {
        navigator.geolocation.getCurrentPosition(function(position) {
          $.ajax({
            url: 'https://developer.nrel.gov/api/alt-fuel-stations/v1/nearest.json?location=:location&fuel_type=ELEC&api_key=aPpj2Zmtm21V9j4douZuoEtDCNKpdxddl811Rk8a',
            headers: {
              'Accept': 'application/json'
            },
            data: {
              radius: 10,
              latlng: positionToStationLatlng(position)
            },
            success: function(storesData) {
              drawStoresMap(position, stationData);
            }
          });
        });
      });
    </script>
-->

<!-- !!!!! TODO:  SCROLL TO TOP !!!!!
<a class="cd-top" ng-href="/charging-stations/#/{{city.city}}">Back to Top</a>
<br>
-->